/* CSS Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
	color: #FFF;
}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
strong{ font-weight:bold;}
img{ vertical-align:top;}
.cl{ clear:both; font-size:0;}

a{ color:#000; font-size:12px; text-decoration:none;}
a:hover{
	color: #FFF;
	text-decoration: none;
}

body{ font-size:12px; color:#000; font-family:"宋体" "新宋体" "Microsoft YaHei"; background:url(../image/bg.jpg) center  top fixed no-repeat;}
.wrapper{
	width: 1010px;
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;
	background-color: rgba(37,24,67,0.9);
}
.top{ width:970px; height:96px; background:url(../image/top.png) left top no-repeat; line-height:55px;overflow:hidden; text-align:right; padding-right:40px;}
.top_link a{ margin: 0 4px; display:inline;}
.top_link a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

.nav{ width:1010px; height:37px; margin-bottom:6px; background:url(../image/nav_bg.jpg) 0 0 repeat-x;}
.nav ul{ width:990px; overflow:hidden; padding-left:20px;}
.nav ul li{  text-align:center;float:left;height:37px; line-height:37px; }
.nav ul li a{font-size:16px; color:#fff;letter-spacing:1px;width:110px;display:block;font-weight:bold; }
.nav ul li a:hover{
	color: #FF0000;
}

#banner{ width:1009px; height:420px!important; overflow:hidden; margin-bottom:10px; margin:auto; margin-left:-5px;}

.content{ width:1010px; overflow:hidden; margin-bottom:10px;}
.sidebar{ width:220px; float:left; overflow:hidden;}
.pro_box{ width:218px; border:1px solid #b4b4b4; margin-bottom:10px;}
.pro_box h3{ margin-bottom:12px;}
.pro_list{width:206px; margin-left:7px; overflow:hidden;}
.pro_list li{ margin-bottom:5px;}
.pro_list li a{ display:block; width:190px; height:35px; line-height:35px; background:url(../image/pro_li_bg.jpg) 0 0 no-repeat; padding-left:43px;}
.pro_list li a:hover{ color:#ff0000; text-decoration:underline;}

.contact_box{ width:220px; height:231px; background:url(../image/contact_bg.jpg) 0 0 no-repeat; overflow:hidden; }
.contact_txt{ width:200px; margin:40px 0 0 15px; height:170px; overflow:hidden;}
.contact_txt p{ line-height:200%;}


.main_con{ width:780px; float:right; overflow:hidden;}
.chanp_box{ width:778px; margin-bottom:10px; overflow:hidden;border:1px solid #b4b4b4;}
.show_box{ width:760px; padding:10px 0 10px 8px;  border-top:none;}
.show_panel{ width:760px; overflow:hidden;}
#show_list{ width:760px; overflow:hidden;}
#show_list li{ width:760px; overflow:hidden; margin-bottom:12px;}
#show_list li a{ float:left; margin: 0 13px; display:inline; text-align:center;}
#show_list li span{
	display: block;
	padding-top: 8px;
	color: #FFFFFF;
}

.jj_box{width:778px; overflow:hidden;border:1px solid #b4b4b4;}
.jj_cp{ width:778px; overflow:hidden; background:url(../image/main_cp.jpg) 0 0 repeat-x; height:25px; line-height:25px;}
.jj_cp h3{ float:left; color:#fff; font-size:14px; font-weight:bold; letter-spacing:1px; margin-left:37px; display:inline;}
.jj_cp a{ float:right;}
.jj_cloumn{ width:732px;overflow:hidden; padding:10px 18px; height:auto; min-height:180px;}
.jj_cloumn img{ float:left;border:1px solid #b4b4b4; padding:2px;}
.jj_txt{
	width: 470px;
	float: right;
	overflow: hidden;
	height: auto;
	color: #FFF;
}
.jj_cloumn p{
	text-indent: 20px;
	line-height: 190%;
	color: #FFF;
}			

.foot{ width:1010px; padding:10px; margin:auto;overflow:hidden;font-family:Arial, Helvetica, sans-serif; color:#fff; background:url(../image/foot.jpg) 0 0 repeat-x; padding-top:25px; height:61px; text-align:center;}

.foot a{ font-size:14px; color:#fff; line-height:26px;}
.copyright p{ margin-bottom:10px;color:#fff; font-size:14px}

.main_con2{ width:778px; float:right;border:1px solid #b4b4b4; padding-bottom:20px;}
.jj_cp2{ width:778px; overflow:hidden; background:url(../image/main_cp.jpg) 0 0 repeat-x; height:25px; line-height:25px; margin-bottom:15px;}
.jj_cp2 h3{ float:left; color:#fff; font-size:14px; font-weight:bold; letter-spacing:1px; margin-left:10px; display:inline;}
.jj_cp2 p{ float:right; margin-right:28px; display:inline; color:#fff;}
.jj_cp2 a{ color:#fff;}
.jj_cp2 a:hover{ color:#ff0000; text-decoration:underline;}


.com_txt{width:738px; overflow:hidden; padding:0 20px;}
.com_txt p{
	color: #FFF;
	text-indent: 25px;
	line-height: 200%;
	margin-bottom: 10px;
}



.main_div2{width:700px; height:auto;  margin:auto;}
.main_div2_img{width:660px;  margin:10px auto; text-align:center;}
.main_div2_img img{width:660px;  margin:10px auto; text-align:center;}
.main_div2 h3{width:800px; height:30px; color:#333; text-indent:1em; font-size:22px; line-height:28px;}
.main_div2 h3 a{color:#333; text-indent:1em; font-size:22px; line-height:28px;}
.main_div2 p{color:#333; text-indent:2em; font-size:16px; line-height:28px;}
.com_txt .zi {
	line-height: 50px;
	font-size: 14px;
}
td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
